<h1>New product</h1>

<%= error_messages_for :product %>

<% form_for(:product, :url => products_path) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<p>
  <%= submit_tag "Create" %>
</p>

<%= link_to 'Back', products_path %>